---
layout: default
---

<h1>
  {{ site.title }}
</h1>
<p>
  Written by <a href="https://www.roli.com/team" target="_blank">ROLI</a>
</p>

<ul class="post-list">
  {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    <li class="post__single">
      <h2>
        {% include base.html %}
        <a class="post__link" href="{{ base }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <span class="post__author">
        {% if author %}
          {% if author.site %}
            <a href="{{ author.site }}" target="_blank">{{ author.name }}</a>
          {% else %}
            {{ author.name }}
          {% endif %}
        {% endif %}
      </span>
      &mdash;
      <span class="post__date">{{ post.date | date: "%B %-d, %Y" }}</span>
      <span class="post__categories">{{ post.categories | join: ', ' }}</span>
    </li>
  {% endfor %}
</ul>
