$roli-grey-light: #ebebeb;
$roli-grey: #d1d3d3;
$roli-grey-dark: #323d47;

// Secondary brand palette
$roli-blue-navy: #1e285a;
$roli-blue-ink: #51758b;
$roli-blue-water: #9cb7d3;

// Tertiary brand palette
$roli-red: #e63f52;
$roli-orange: #e47648;
$roli-amber: #e39d45;
$roli-yellow: #e1ba40;
$roli-lemon: #e3d743;
$roli-lime: #bacb40;
$roli-green: #65b448;
$roli-turquoise: #3fb4a5;
$roli-sky: #397fba;
$roli-ocean: #2654a5;
$roli-purple: #6566a5;
$roli-velvet: #b457a1;

// Black and White
$roli-white: #fbfbfb;
$roli-black: #000;
$roli-white-trans: rgba(251, 251, 251, 0.8);
$roli-black-trans: rgba(0, 0, 0, 0.7);
$true-white: #ffffff;
$true-black: #000000;
